.slide-in {
    animation: slideIn 0.9s forwards;
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(-30px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }